{% extends 'navbar.html' %}
{% load static %}

<!-- {{result}} -->

{% block content %}

<div class="container w-100 p-0">
    {{ carte_html|safe }}
<!-- <a href="{% url 'home' %}"> -->
    <br>
    <center>
        <h4>Choisissez l'algorithme avec lequel vous souhaitez résoudre le problème</h4>
    <a class="btn btn-primary" href="{% url 'approx' %}"> algorithme aproximation</a>
    <a class="btn btn-primary" href="{% url 'ant' %}"> algorithme ACO</a>
    </center>
</div>


{% endblock content %}