{% extends 'navbar.html' %}
{% load static %}

<!-- {{result}} -->

{% block content %}
<div>{{message}}</div>


                      <form class="forms-sample" method="post" action="{% url 'importation' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                          <label for="exampleInputUsername1">Fichier Excel</label>
                          <input type="file" class="form-control " type="file" name="excel_file" accept=".xlsx"  placeholder="Télécharger l'image">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Soumettre</button>
                      </form>
   
{% endblock content %}
