{% extends 'navbar.html' %}
{% load static %}

<!-- {{result}} -->

{% block content %}
{% if message %}
<div id="message" class="alert alert-danger" style="display: none; position: relative;">
  <span class="close-btn" onclick="closeMessage()">x</span>
  <!-- Votre message de danger ici -->
  {{message}}
</div>

<script>
  // Afficher le message de danger
  document.getElementById('message').style.display = 'block';

  // Fonction pour fermer le message
  function closeMessage() {
      document.getElementById('message').style.display = 'none';
  }
</script>

<style>
  /* Style du bouton de fermeture */
  .close-btn {
      position: absolute;
      top: 0;
      left: -20px; /* Ajuster la position à gauche */
      cursor: pointer;
      font-weight: bold;
  }
</style>

{% endif %}

<script>
  // Afficher le message de danger
  document.getElementById('message').style.display = 'block';

  // Disparaître après quelques secondes (par exemple, 5 secondes)
  setTimeout(function() {
      document.getElementById('message').style.display = 'none';
  }, 1500); // 5000 millisecondes = 5 secondes
</script>

<div>              
  <p>Le format de fichier doit être le même que celui indiqué dans l'image, sinon les algorithmes ne fonctionneront pas</p>
  <img src="{% static 'format.png' %}"style="width: 700px;height: 100px;" alt="profile"/>
</div>
<br>
                      <form class="forms-sample" method="post" action="{% url 'importation' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                          <label for="exampleInputUsername1">Fichier Excel</label>
                          <input type="file" class="form-control " type="file" name="excel_file" accept=".xlsx"  placeholder="Télécharger l'image">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Soumettre</button>
                      </form>
   
{% endblock content %}
