{% extends 'navbar.html' %}
{% load static %}

<!-- {{result}} -->

{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
<div class="table-responsive">

<table class="table">
    <tr style="padding: 3px;"><th>ville </th><th>coordinates</th></tr>

{% for city, coordinates in data.items %}
<tr class="padding:3px"><td>{{ city }} </td> <td>{{coordinates}}</td></tr>
{% endfor %}
</table>
</div>
</div>
</div>
</div>


{% endblock content %}
